.registerPage {
  min-width: 90dvw;
  min-height: 100dvh;

  background-image: url('../../images/backgrounds/background-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 23px 20px;

  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .registerPage {
    background-image: url('../../images/backgrounds/background-register-tablet.jpg');
    padding-top: 75px;
    padding-bottom: 75px;
  }
}

@media screen and (min-width: 1280px) {
  .registerPage {
    background-image: url('../../images/backgrounds/background-register.jpg');
  }
}