div.navigation {
    display: flex;
    flex-direction: row;
    gap: 38px;
    align-self: center;
}

.navLink .linkText {
    display: none;
}

.navLink .linkIcon {
    /* background-color: rgba(255, 255, 255, 0.4); */
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 6px;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLink.active .linkIcon {
    background-color: rgba(74, 86, 226, 1);
    box-shadow: 0px 3px 10px 0px rgba(74, 86, 226, 0.5);
}

.linkIcon .homeIcon {
    width: 27.33px;
    height: 23.22px;
    fill: #3c2371;
}

.linkIcon .statisticsIcon {
    width: 25.67px;
    height: 14.67px;
    fill: #3c2371;
}

.linkIcon .currencyIcon {
    width: 12.67px;
    height: 22.4px;
    fill: #3c2371;
}

.navLink.active .linkIcon .homeIcon,
.navLink.active .linkIcon .statisticIcon,
.navLink.active .linkIcon .currencyIcon {
    fill: rgba(255, 255, 255, 1);
}

/* Masaüstü ve tablet görünümü */
@media screen and (min-width: 768px) {
    div.navigation {
        flex-direction: column;
        gap: 12px;
        align-self: start;
    }

    .navLink {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 23px;
    }

    .navLink.currencyLink {
        display: none;
    }

    .navLink .linkText {
        display: block;
        color: rgba(251, 251, 251, 1);
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
    }

    .navLink.active .linkText {
        font-weight: 700;
        font-size: 20px;
        transition: all 0.5s ease 0s;
        cursor: not-allowed;
    }

    .navLink:not(.active):hover>.linkText {
        text-decoration: underline;
        transition: all 0.5s ease 0s;
    }

    .navLink .linkIcon {
        width: 50px;
        height: 50px;
        border-radius: 2px;
    }

    .linkIcon .homeIcon {
        width: 32px;
        height: 30px;
    }

    .linkIcon .statisticIcon {
        width: 32px;
        height: 30px;
    }
}

/* Mobil görünüm */
@media screen and (max-width: 767px) {
    div.navigation {
        display: flex;
        flex-direction: row;
        gap: 38px;
        align-self: center;
    }
   
    .navLink .linkText {
        display: none;
    }

    .navLink .linkIcon {
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 6px;
        width: 38px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;       
        
    }

    .navLink.active .linkIcon {
        background-color: rgba(74, 86, 226, 1);
        box-shadow: 0px 3px 10px 0px rgba(74, 86, 226, 0.5);
    }

    .linkIcon .homeIcon {
        width: 31px;
        height: 30px;
        fill: #3c2371;     
    }

    .linkIcon .statisticIcon {
        width: 31px;
        height: 30px;
        fill: #3c2371;
    }

    .linkIcon .currencyIcon {
        width: 31px;
        height: 30px;
        fill: #3c2371;
    }

    .navLink.active .linkIcon .homeIcon,
    .navLink.active .linkIcon .statisticIcon,
    .navLink.active .linkIcon .currencyIcon {
        fill: rgba(255, 255, 255, 1);
    }
}