.tablewrapper {
    position: relative;
    background-color: rgba(74, 86, 226, 0.1);
    width: 320px;
    height: 220px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;

    @media only screen and (min-width: 768px) {
        min-width: 336px;
        margin: 0;
    }

    @media only screen and (min-width: 1280px) {
        width: 100%;
        max-height: 395px;
        height: 350px;
    }
}

.table {
    color: white;
    width: 100%;
    font-size: 16px;
    line-height: normal;
    border-collapse: collapse;
    padding-left: 20px;
}

.tablehead {
    background: rgba(255, 255, 255, 0.2);
    font-weight: 600;
}

.tableheader {
    padding-top: 13px;
    padding-bottom: 13px;
    width: 33%;
    padding-left: 20px;

    @media only screen and (min-width: 1280px) {
        &:first-child {
            padding-left: 62px;
        }

        &:last-child {
            padding-right: 111px;
        }
    }
}

.tabledata {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 30%;
    padding-left: 25px;

    &:last-child {
        padding-left: 46px;
    }

    @media only screen and (min-width: 1280px) {
        text-align: center;

        &:first-child {
            padding-left: 62px;
        }

        &:last-child {
            padding-right: 131px;
        }
    }
}

.svg {
    position: absolute;
    width: 100%;
}

.tablegraph {
    position: relative;
    width: 100%;
    top: -6px;
}

.svggradient {
    width: 100%;
    position: absolute;
    top: 6px;

    @media only screen and (min-width: 1280px) {
        top: 20px;
    }
}

.usd,
.eur {
    position: absolute;
    color: var(--dashboard-text, #ff868d);
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

/* USD ve EUR konumları, ihtiyaca göre değiştirilebilir */
.usd {
    left: 200px;
    top: -10px;
}

.eur {
    left: 364px;
    top: -10px;
}