.HomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}

.noDataMessage {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  font-style: italic;
  margin-top: 20px;
}

@media screen and (min-width: 1280px) {
  .HomePage {
    display: inline-flex;
    justify-content: center;
    align-self: flex-start;

    margin-left: 64px;
    margin-top: 0;
  }
}